files:
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
MIIFDTCCAvWgAwIBAgIUYPzVEKTkKuG+bhGqwqxKt6kX5vEwDQYJKoZIhvcNAQEL
BQAwFjEUMBIGA1UEAwwLKi5ob21pZnkuYWkwHhcNMjEwNzE1MTc0MDE4WhcNMjIw
NzE1MTc0MDE4WjAWMRQwEgYDVQQDDAsqLmhvbWlmeS5haTCCAiIwDQYJKoZIhvcN
AQEBBQADggIPADCCAgoCggIBALzo6PYRjQxDsiYJbAtZJY7oVQ2V0Uqff7wxejcC
2wyu+oIzndoq4AbyITrbOEQEQH6s2xH8jouL9x7Zv+rEbv1JBXhzLI1UKkxi2TXr
hJaGHLALD0wuJeH6B7LUBe9t/gkBdkIwuWJ9jGMOKh2OjBsjUSwY1T6YnWmmxMZR
tDnGxxvHCA1Jau4Y5BEbW6jQrXW5fQDZ/RWeBHFfvmx6eZ1Ovwta0aPC3dvyHVcv
d3Wue/RFfxDpdVMkxJjdcwuDtaRd2SkHGsaa3Bbxe8ZdtgyHFJcGXVP8K8op9duR
6/YqUE4JWidQyKtH8c3SiH7LbvraHV7pScyxvUq1C/5ZryBOq9++MS6wM2YTw1Eb
wcwO9M6ir9RBSLsb63mqj396nNJZSD6yiVIrhd1EBxD2MYxJVtL/e2sbKRvjEsZK
0hcppS6JM1C0KJQTXUrYFIpvjgFYl2jTnlf6pOteQbOP8/e+qR8VvlJ7BBNrLtRY
aDfY4Hqf5FM2KGErzu/KYNAZW+8AVg8e9S6GAmwvMpZC5ca7yFqyi2gK5+ogL0KU
IHOCM/mDVoweuXZVRDkFDHBwseHFeBPQlp2YJG0bFHM14ifWCMTRg6h55eAUqGQZ
JEDR1RSs2pYWDoFSgVQLn97EvtkF6rb6673PPi/ApzBOJi+hYghhO+bwUQce8hjM
skkvAgMBAAGjUzBRMB0GA1UdDgQWBBRDHlzZEi9VdNR4wOTfw5PWwalieTAfBgNV
HSMEGDAWgBRDHlzZEi9VdNR4wOTfw5PWwalieTAPBgNVHRMBAf8EBTADAQH/MA0G
CSqGSIb3DQEBCwUAA4ICAQAUJ/mkn35qEiOYpER8+VDI/Qxw/8Z+C5mqFf70Rx/D
3DFcr0oc7Si3e06r6fGzz2uwd5MlGE3zS0h2NDL+IRn8Cmlv5/1uJOj9gjLl/GAe
pDrdooS+yiHrrx3+2BLzmeVTlxP6q+c9akXQrgeLMANOquBRtllCU0PKI7wIaPOE
O97DFum76UEM3O8NfPZZYQUEqiXX6PwiiQYPy66AXIViv+B5x0LKSC7LCDuh27sp
yS6ziqtaBkt9LYnC8ddZcAYvAXbFWJXTW8oc9vQkhsorRELHTeux7MYd0aJVIS+V
b/fDA6EzbrWtGIxrve70EaB43tLPmDRHMGn/vzmGoBG8pJzqJnRYfhSaImZ36Qe2
kr86Z1C0ZGRmxtTKx1VzORGPv6vyGkeKAKsKgFfCqoAzD2A8JjdC/Ezl+B0WctWY
ZHRzlRC7Odd+MdZDM3EfInLTAe8SE0VmZneMxVpBl0N6UkJuqJRlGIUXH1Hhlhx/
MqJqAjfIm22WDqlVrNAPxqkH79ScR2t8rE+vwslDMrxee6CsRnWSndiW0YM2wXP8
Ubc6M4zpeJjhztdw+ZbQCFdmsDIkQ4FsL41JgJad29eV0v0Rgqjrd2CyozWVM8Fi
llgmlBkzaFDRDBGvmHbaZq3oOCt3JwKmAu90tr1EwuU8qyok/hVqT8HMxkqZCEfA
OA==
      -----END CERTIFICATE-----
      
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |      
      -----BEGIN RSA PRIVATE KEY-----
MIIJQgIBADANBgkqhkiG9w0BAQEFAASCCSwwggkoAgEAAoICAQC86Oj2EY0MQ7Im
CWwLWSWO6FUNldFKn3+8MXo3AtsMrvqCM53aKuAG8iE62zhEBEB+rNsR/I6Li/ce
2b/qxG79SQV4cyyNVCpMYtk164SWhhywCw9MLiXh+gey1AXvbf4JAXZCMLlifYxj
DiodjowbI1EsGNU+mJ1ppsTGUbQ5xscbxwgNSWruGOQRG1uo0K11uX0A2f0VngRx
X75senmdTr8LWtGjwt3b8h1XL3d1rnv0RX8Q6XVTJMSY3XMLg7WkXdkpBxrGmtwW
8XvGXbYMhxSXBl1T/CvKKfXbkev2KlBOCVonUMirR/HN0oh+y2762h1e6UnMsb1K
tQv+Wa8gTqvfvjEusDNmE8NRG8HMDvTOoq/UQUi7G+t5qo9/epzSWUg+solSK4Xd
RAcQ9jGMSVbS/3trGykb4xLGStIXKaUuiTNQtCiUE11K2BSKb44BWJdo055X+qTr
XkGzj/P3vqkfFb5SewQTay7UWGg32OB6n+RTNihhK87vymDQGVvvAFYPHvUuhgJs
LzKWQuXGu8hasotoCufqIC9ClCBzgjP5g1aMHrl2VUQ5BQxwcLHhxXgT0JadmCRt
GxRzNeIn1gjE0YOoeeXgFKhkGSRA0dUUrNqWFg6BUoFUC5/exL7ZBeq2+uu9zz4v
wKcwTiYvoWIIYTvm8FEHHvIYzLJJLwIDAQABAoICACuXh2J47FZfLLXQSMlZmewf
Ork20CPrKFuyAyS8mPWVTyNKa+uTJz0TFI3zVkmDvao9kxPUdsRG2RCaaMnw6De0
aPnBgg9e05/q03q4zVC6w9Xvx2jp4T4DJ1Gh0XjNpehIGRTvD2hl1kZpV1iYs0Xz
4WBOnq6iIvjlTdUBt5f5gaqsQ/Rk87LbtY0pBf6voMdgtTLEGr2pSBctY9C+dl/R
cw5Yt7WVWwLNHO4oeuWCDQJyIv8xECzOeDtaJpkKnJjAO0NXa1tXEuCMeuZsa3z6
ksrC4jhmIWi2RBCV3KBiZUOMruwRnSzBHlBDe9Heec6TFGH5bVk5zpd1rb3Uzi89
p5S6Q8AsYKgBWvFLZEtN87bKC98I/7YHm6Phh/KXEGyO3ap0OI/wOaTJFSKvoRwT
zJzio+mKUeOsqxqbnYj0C9Vt5XOTK1IO7C5ULpzsHIzKs+wiiGzlgKZ8wD3kwJtV
lNLt+Twxfbhot6se7fqcjHZ50jLK8oHbNXaghLyGR8Ha+H/LommcP6MOmqec40wf
IgOraCD9DHDn/T6KFU7uwkkAETWGoCp4BP2m7MBqsL+8ySk0i3T+E8OaIue2jGT7
FXacVYbVEPF/jZqR0UuC3cp2DI7xfKwzZG0e0sbIrGbmFQWTWZ+1gy4DBYw0TmVm
bmO6V02mwOg4/UyWINIpAoIBAQDqDVSepDq21tDUchf4sXLDqBSPs3dHZhQkV78N
G7So91WTz6I760UCJEmsjR+QVR1p4Wmh8nv3CpuM+c2aA3wutlEun6fKBOXfX38N
PlYhjnyFkmBWI13Zhn5Q8YIgNmH0ydJed8b3dK0D0+6MbGxBLgUFvi4G/hjUmm6E
fHzKy4QsLXooGaSeWOrgYSvjgdLvE4Zy8OjTmWuJO+D8cTdUXEYO3WJdxf6b+Xxm
/VqdX05LNB8jDv/Qv1e7x2WD2Xso5Jft3YgpIO5YOdnp5jcAeqqmYQ6JMb707Gyj
9zxCRqxsXdrp7BGCRe5B+tBzYnEY/oo7laAZPe6nAU65ckBtAoIBAQDOn+QmQ0rh
KF759vhDhYL7uLbLUalKAluMT5GykHL2kNvVVCj7wTU3cDgM7FQTCVkA7iV6+dKu
ckKs9Uhon86iWmqNvBwDdxjchWagE/STcfPq5I0lZS8DYl/ka4322aq9+CQgWA/+
9zhi6y0wOommTfmmzLR54TEAfsUwGX6+VYGM7+Clf68Z5lsHqH9JSL/F5ikEGwGt
EQNl+dJglj/RQqwV3CWtST1Rzd2Tz4yZzIRixXQ792ptemsDEcZR5hT6Snz+zIQL
Xm/BbH1LmUp2aV9ytgv1jPvIo8ZbhfB4xEFYXMX8djwZuyMscfyGO9GLsXFfACWX
xZmp5x0iCcaLAoIBAB+pwgLcMN0/Xmz/KmMIjoANowp1uvM7ygnInR4G23/oRfmD
I217vJA3nIftZ5G9Egea6RFxnnejRbvip3/obMpc+8qU6rwXwYlgf+2ouzo67nmb
fdDpY+7jlP8aTQJSmRnmm8EP7yjW7fkQmLsCh/qhYSiPu+ZSRcWtRrpBpRhCRBU9
6cK3BWAuo0fLnYZfr8uMFqpCER1fKf8czKkaH+QXv5qPNJl/CZzMOZotOC8GD694
06WIh+8Tk6jhpsgZieHUWwFg8OSvgc8JtINCE7rK3X84riC9TBoSSfg8oDhPG1Bl
uhHfT9cR4tOmPMD/VlGNTeIVsdz4Verd8GqCHFkCggEAec+xRQ1u24ZdV6fNfKD9
M0EWIo8l6kexiOpvzoFyBQIpV36iGqkwolo58QRyHDbqja3X0sPs/ILH5AdGhMeR
ng0HvD8llLVlprvOYJjjGvmW/ud2fpFEQg6A0bzGmLyB+DSNt7Oy2nEMgOR8Y25f
L/fQMhGEZEXqCYyy20Rsf/EQyvGv0mGP7QjsqXsgbyfARv8FNzJkro7VHg1FhUOO
o+NWaBy86Ye/6rYe5sD49sKnWUNm3uNhjuEYrVqRPD8UJuo6/ku7nKgz4if/Rc49
I8nDR3EjY8OVvBcxHUu9FLU+gMVQwyFBFTpJ5i3c3ZXuVxho6cTAZNVNXeiuOB7j
OQKCAQEAhlvrolZEk4zsmE3qfF6uhEwyPVVtvFYlm1FL5D56ygRYa50uzdh2qdS/
dbwGtnxNLJXNs5gusgLkEQXoc/orBbsZHJYNUqSOPYTetpI2wzQbiZb09QtycWvv
qeI+nBmrODCSTpX4u/arNI82Rok3tI8xxBsd+S15HstCqvo/Ah+M1J/SPtJUVzqe
CpZ9tobmFiVYLoJOYeEQo0qQdvmQXOpiDEB5nwO0F2Rcw3Vsw7ll12kgWb6KdqZS
Dm9jTvlRGp9iPWw6S3nS5gmjM48tEhdSuO20RmtWGixghYFytyKayVhZ14wim1x3
37Xh8Lucy8PpJ3hPgfqVsZGnoYfgkA==
      -----END RSA PRIVATE KEY-----

container_commands:
  01_reload_nginx:
    command: "service nginx reload"
  02_restart_nginx:
    command: "service nginx restart"